@use '../../styles/mixins/functions' as *;

.c-chip {
  display: inline-flex;
  align-items: center;
  padding: getCssVar('sys', 'space', '1') getCssVar('sys', 'space', '2');
  border-radius: getCssVar('sys', 'shape', 'pill');
  color: getCssVar('sys', 'color', 'on-primary');
  background-color: getCssVar('sys', 'color', 'primary');
  overflow: hidden;
  min-width: 60px;
  min-height: 24px;

  cursor: pointer;

  &__content {
    flex: 1 0;
    text-align: center;
    line-height: 1;
    padding-bottom: 1.5px;
  }

  &__close {
    flex: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5px;
    min-width: 24px;
    color: currentColor;
  }
}
