@use '../../styles/mixins/functions' as *;

.c-chip {
  --c-chip-text-color: #{getCssVar('sys', 'color', 'on-primary-container')};
  --c-chip-bg-color: #{getCssVar('sys', 'color', 'primary-container')};
  --c-chip-border-color: #{getCssVar('sys', 'color', 'primary')};
  --c-chip-border-width: #{getCssVar('sys', 'border-width', 'thin')};
  --c-chip-font-size: #{getCssVar('sys', 'typography', 'label-size')};
  --c-chip-font-weight: #{getCssVar('sys', 'typography', 'label-weight')};
  --c-chip-line-height: #{getCssVar('sys', 'typography', 'label-line-height')};

  display: inline-flex;
  align-items: center;
  padding: getCssVar('sys', 'space', '1') getCssVar('sys', 'space', '2');
  border-radius: getCssVar('sys', 'shape', 'pill');
  color: getCssVar('chip', 'text-color');
  background-color: getCssVar('chip', 'bg-color');
  border: getCssVar('chip', 'border-width') solid getCssVar('chip', 'border-color');
  font-size: getCssVar('chip', 'font-size');
  font-weight: getCssVar('chip', 'font-weight');
  line-height: getCssVar('chip', 'line-height');
  overflow: hidden;
  min-width: 60px;
  min-height: 24px;
  cursor: pointer;

  &__content {
    flex: 1 0;
    text-align: center;
    padding-bottom: 1.5px;
  }

  &__close {
    flex: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5px;
    min-width: 22px;
    color: currentColor;
  }
}
