@use '../../styles/modules/global-vars' as *;
@use '../../styles/mixins/functions' as *;

$self: '.c-input';
$input-details-height: 24px;
$input-transition-duration: 0.2s;

.c-input {
  // Layout
  --c-input-details-height: #{$input-details-height};
  --c-input-transition-duration: #{$input-transition-duration};

  // Colors
  --c-input-primary-color: #{getCssVar('app', 'primary-color')};
  --c-input-error-color: #{getCssVar('app', 'error-color')};
  --c-input-disabled-color: #{getCssVar('app', 'disabled-color')};
  --c-input-readonly-color: #{getCssVar('app', 'readonly-color')};

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: color getCssVar('input', 'transition-duration') $primary-transition;
  color: currentColor;
  position: relative;

  &--focused {
    #{$self}__field {
      border-color: currentColor;
    }
  }

  &--default {
    color: getCssVar('input', 'primary-color');
  }

  &--has-error {
    color: getCssVar('input', 'error-color');
  }

  &--disabled {
    color: getCssVar('input', 'disabled-color');
    pointer-events: none;
  }

  &--readonly {
    color: getCssVar('input', 'readonly-color');
  }

  &__field {
    display: flex;
  }

  &__details {
    height: getCssVar('input', 'details-height');
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    & > * {
      position: absolute;
    }
  }
}
