@use '../../styles/modules/global-vars' as *;

$self: '.c-input';
$input-details-height: 24px;

.c-input {
  --c-input-details-height: #{$input-details-height};
  --c-input-error-color: var(--c-app-error-color);
  --c-input-primary-color: var(--c-app-primary-color);
  --c-input-background-color: var(--c-app-surface-color);
  --c-input-disabled-color: var(--c-app-disabled-color);
  --c-input-readonly-color: var(--c-app-disabled-color);

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  transition: 0.2s color $primary-transition;
  color: currentColor;
  position: relative;
  border-radius: var(--c-app-border-radius);
  background-color: var(--c-input-background-color);

  &--focused {
    #{$self}__field {
      border-color: currentColor;
    }
  }

  &--default {
    color: var(--c-input-primary-color);
  }

  &--has-error {
    color: var(--c-input-error-color);
  }

  &--disabled {
    color: var(--c-input-disabled-color);
    pointer-events: none;
  }

  &--readonly {
    color: var(--c-input-primary-color);
  }

  &__field {
    display: flex;
  }

  &__details {
    height: var(--c-input-details-height);
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;

    & > * {
      position: absolute;
    }
  }
}
