@mixin layer($background) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: #{$background};
    pointer-events: none;
    opacity: 0;
  }
}

@mixin focus($color) {
  &:focus {
    outline-color: $color;
    outline-width: thin;
    outline-offset: -1px;
  }
}
