@use '../../styles/mixins/functions' as *;

$toolbar-height: 60px;
$toolbar-logo-width: auto;

.c-toolbar {
  --c-toolbar-height: #{$toolbar-height};
  --c-toolbar-logo-width: #{$toolbar-logo-width};
  --c-toolbar-background-color: #{getCssVar('sys', 'color', 'surface')};
  --c-toolbar-logo-padding: #{getCssVar('sys', 'space', '0')} #{getCssVar('sys', 'space', '3')};

  width: 100%;
  display: flex;
  height: getCssVar('toolbar', 'height');
  background-color: getCssVar('toolbar', 'background-color');

  &-logo {
    width: getCssVar('toolbar', 'logo-width');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: getCssVar('toolbar', 'logo-padding');
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: getCssVar('sys', 'z-index', 'sticky');
  }
}
