@use "../../styles/modules/global-vars" as *;

$self: '.c-field';

#{$self} {
  --c-field-border-color: var(--c-app-border-color);
  --c-field-disabled-opacity: var(--c-app-disabled-opacity);
  --c-field-readonly-bg-color: var(--c-app-readonly-bg-color);
  --c-field-prepend-min-width: 40px;
  --c-field-append-min-width: 24px;
  --c-field-min-height: 40px;

  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  min-height: var(--c-field-min-height);
  padding: 1px 8px;
  border-radius: var(--c-app-border-radius);
  background-color: var(--c-app-surface-color);
  transition: color .2s $primary-transition, opacity .2s $primary-transition;

  &__outline {
    position: absolute;
    z-index: -1;
    inset: 0;
    display: flex;
    align-items: stretch;
    pointer-events: none;
    border-radius: inherit;
  }

  &__outline-start,
  &__outline-notch,
  &__outline-end {
    border: 0 solid var(--c-field-border-color);
    transition: border-color .2s $primary-transition;
  }

  &__outline-start {
    flex: 0 0 var(--c-app-border-radius);
    border-left-width: thin;
    border-top-width: thin;
    border-bottom-width: thin;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  &__outline-notch {
    flex: 0 1 auto;
    border-top-width: thin;
    border-bottom-width: thin;

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      visibility: hidden;
      max-width: 0.01px;
      padding: 0 3px;
      transform-origin: left center;
      transition: max-width .15s ease;
    }
  }

  &__outline-end {
    flex: 1 1 auto;
    border-right-width: thin;
    border-top-width: thin;
    border-bottom-width: thin;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &__core {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 40px;
    width: 100%;
    padding: 5px 0;
    column-gap: 3px;
  }

  &__prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--c-field-prepend-min-width);
    min-height: var(--c-field-min-height);
  }

  &__clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    min-height: var(--c-field-min-height);
    cursor: pointer;
  }

  &__append {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--c-field-append-min-width);
    min-height: var(--c-field-min-height);
  }

  &-label {
    position: absolute;
    top: 50%;
    left: var(--c-app-border-radius);
    padding: 0 3px;
    line-height: .9;
    transform: translate(0, -50%);
    transition: top .2s $primary-transition,
    left .2s $primary-transition,
    transform .2s $primary-transition;
  }

  &-input {
    flex: 1 1;
    width: 100%;
    min-width: 20%;
    outline: none;
    cursor: inherit;
    color: var(--c-app-text-color);

    &::placeholder {
      opacity: 0;
    }
  }

  &--focused {
    #{$self}-input::placeholder {
      opacity: 1;
    }

    > #{$self}__outline > #{$self}__outline-start,
    > #{$self}__outline > #{$self}__outline-notch,
    > #{$self}__outline > #{$self}__outline-end {
      border-color: currentColor;
    }
  }

  &--focused > &__outline > &__outline-notch,
  &--filled > &__outline > &__outline-notch {
    border-top-width: 0;

    span {
      max-width: 100%;
    }
  }

  &--focused > &__core > &-label,
  &--filled > &__core > &-label {
    top: 0;
    left: var(--c-app-border-radius);
    transform: translate(0, -50%) scale(.8);
  }

  &--filled #{$self}-input::placeholder {
    opacity: 0;
  }

  &--error {
    > #{$self}__outline > #{$self}__outline-start,
    > #{$self}__outline > #{$self}__outline-notch,
    > #{$self}__outline > #{$self}__outline-end {
      border-color: currentColor;
    }
  }

  &--disabled {
    opacity: var(--c-field-disabled-opacity);
    pointer-events: none;
    cursor: not-allowed;
  }

  &--readonly {
    > #{$self}__outline > #{$self}__outline-start,
    > #{$self}__outline > #{$self}__outline-notch,
    > #{$self}__outline > #{$self}__outline-end {
      background-color: var(--c-field-readonly-bg-color);
    }
  }

  &--has-prepend {
    padding-left: 0;

    > #{$self}__core > #{$self}-label {
      left: var(--c-field-prepend-min-width);
    }

    > #{$self}__core > #{$self}-input {
      padding-right: 8px;
    }
  }

  &--has-prepend#{$self}--focused > &__core > &-label,
  &--has-prepend#{$self}--filled > &__core > &-label {
    top: 0;
    left: var(--c-app-border-radius);
    transform: translate(0, -50%) scale(.8);
  }
}
