@use '../../styles/modules/global-vars' as *;
@use '../../styles/mixins/functions' as *;

$self: '.c-field';

#{$self} {
  // Layout
  --c-field-min-height: 40px;
  --c-field-prepend-min-width: 40px;
  --c-field-append-min-width: 24px;
  --c-field-border-radius: #{getCssVar('app', 'border-radius')};
  --c-field-transition-duration: 0.2s;

  // Colors
  --c-field-bg-color: #{getCssVar('app', 'surface-color')};
  --c-field-label-color: #{getCssVar('app', 'primary-color')};
  --c-field-focused-border-color: #{getCssVar('app', 'primary-color')};
  --c-field-border-color: #{getCssVar('app', 'border-color')};
  --c-field-input-text-color: #{getCssVar('app', 'text-color')};
  --c-field-readonly-bg-color: #{getCssVar('app', 'readonly-bg-color')};
  --c-field-disabled-opacity: #{getCssVar('app', 'disabled-opacity')};

  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  background: getCssVar('field', 'bg-color');
  min-height: getCssVar('field', 'min-height');
  padding: 1px 8px;
  border-radius: getCssVar('field', 'border-radius');
  border: thin solid;
  transition:
    color getCssVar('field', 'transition-duration') $primary-transition,
    opacity getCssVar('field', 'transition-duration') $primary-transition;

  &__outline {
    position: absolute;
    top: -1px;
    z-index: -1;
    bottom: 0;
    left: getCssVar('field', 'border-radius');
    border-top: 1px solid transparent;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      top: -1px;
      left: 0;
      height: 1px;
      z-index: -2;
      background-color: inherit;
      transition:
        transform getCssVar('field', 'transition-duration') $primary-transition,
        background-color getCssVar('field', 'transition-duration') $primary-transition;
      transform: scaleX(0);
      transform-origin: left;
    }

    & > span {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-label {
    position: absolute;
    top: 50%;
    left: getCssVar('field', 'border-radius');
    line-height: 0.9;
    transform: translate(0, -50%);
    transition:
      top getCssVar('field', 'transition-duration') $primary-transition,
      left getCssVar('field', 'transition-duration') $primary-transition,
      transform getCssVar('field', 'transition-duration') $primary-transition;
  }

  &__core {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: getCssVar('field', 'min-height');
    width: 100%;
    padding: 5px 0;
    column-gap: 3px;
  }

  &__prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: getCssVar('field', 'prepend-min-width');
    min-height: getCssVar('field', 'min-height');
  }

  &__clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    min-height: getCssVar('field', 'min-height');
    color: getCssVar('field', '');
    cursor: pointer;
  }

  &__append {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: getCssVar('field', 'append-min-width');
    min-height: getCssVar('field', 'min-height');
  }

  &-input {
    flex: 1 1;
    width: 100%;
    min-width: 20%;
    outline: none;
    cursor: inherit;
    color: getCssVar('field', 'input-text-color');

    &::placeholder {
      opacity: 0;
    }
  }

  &--default {
    border-color: var(--c-field-border-color);
    //color: var(--c-field-color);
  }

  &--focused {
    #{$self}-input::placeholder {
      opacity: 1;
    }

    & > #{$self}__outline {
      background: inherit;

      &:after {
        transform: scaleX(1);
      }
    }
  }

  &--focused > &__core > &-label,
  &--filled > &__core > &-label {
    top: 0;
    left: getCssVar('field', 'border-radius');
    transform: translate(0, -50%) scale(0.8);
  }

  &--filled #{$self}-input::placeholder {
    opacity: 0;
  }

  &--filled {
    & > #{$self}__outline {
      background: inherit;

      &:after {
        transform: scaleX(1);
      }
    }
  }

  &--disabled {
    opacity: getCssVar('field', 'disabled-opacity');
    pointer-events: none;
    cursor: not-allowed;
  }

  &--readonly {
    background-color: var(--c-field-readonly-bg-color);
    border-color: var(--c-field-border-color);
  }

  &--has-prepend {
    padding-left: 0;

    > #{$self}__core > #{$self}-label {
      left: var(--c-field-prepend-min-width);
    }

    > #{$self}__core > #{$self}-input {
      padding-right: 8px;
    }
  }

  &--has-prepend#{$self}--focused > &__core > &-label,
  &--has-prepend#{$self}--filled > &__core > &-label {
    top: 0;
    left: getCssVar('field', 'border-radius');
    transform: translate(0, -50%) scale(0.8);
  }
}
