@use '../../styles/mixins/functions' as *;

.c-select {
  --c-select-chips-gap: 4px;

  flex: 1 1;

  &__listbox {
    padding: 8px 0;
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__core {
    display: flex;
    gap: getCssVar('select', 'chips-gap');
    flex-wrap: wrap;
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__append {
    transition: transform getCssVar('sys', 'motion', 'duration-fast')
      getCssVar('sys', 'motion', 'easing-linear');
  }

  & > .c-input__field > .c-text-field > .c-field--focused > .c-field__append {
    transform: rotate(180deg);
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__core > .c-field-input {
    caret-color: transparent;
    color: transparent;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}
