@use 'sass:math';

$columns: 12;
$grid-gutter: 10px;
$gutter-column: math.div($grid-gutter, 2);

$grid-gutters: (
  'xs': math.div($grid-gutter, 24),
  'sm': math.div($grid-gutter, 12),
  'md': math.div($grid-gutter, 6),
  'lg': math.div($grid-gutter, 3),
  'xl': math.div($grid-gutter * 2, 3),
  'xxl': $grid-gutter,
);

$grid-breakpoints: (
  'xs': 0,
  'sm': 600px,
  'md': 960px,
  'lg': 1280px,
  'xl': 1920px,
  'xxl': 2560px,
) !default;
