@use 'sass:map';
@use '../maps/colors-map' as *;

@mixin background-color($color_value) {
  background-color: $color_value !important;
  border-color: $color_value !important;
}

@mixin text-color($color_value) {
  color: $color_value !important;
  caret-color: $color_value !important;
}

@mixin text-active($color) {
  &:hover {
    &:active {
      &:before {
        background: $color !important;
        opacity: 0.3;
        transition: background 0.1s;
      }
    }
  }
}

@mixin bg-active($color) {
  &:active {
    background: $color !important;
    transition: background 0.1s;
  }
}

@mixin bg-hover($color) {
  &:hover {
    background: $color !important;
    transition: background 0.1s;
  }
}

@each $color_name, $color_color in $colors {
  @each $color_type, $color_value in $color_color {
    @if ($color_type == 'base') {
      .bg-#{$color_name} {
        @include background-color($color_value);
      }

      .hover\:bg-#{$color_name} {
        @include bg-hover($color_value);
      }

      .active\:bg-#{$color_name} {
        @include bg-active($color_value);
      }

      [class*='hover\:bg-'][class*='active\:bg-#{$color_name}'] {
        @include bg-active($color_value);
      }

      .text-#{$color_name} {
        @include text-color($color_value);
        @include text-active($color_value);
      }
    }

    .bg-#{$color_name}-#{$color_type} {
      @include background-color($color_value);
    }

    .hover\:bg-#{$color_name}-#{$color_type} {
      @include bg-hover($color_value);
    }

    .active\:bg-#{$color_name}-#{$color_type} {
      @include bg-active($color_value);
    }

    [class*='hover\:bg-'][class*='active\:bg-#{$color_name}-#{$color_type}'] {
      @include bg-active($color_value);
    }

    .text-#{$color_name}-#{$color_type} {
      @include text-color($color_value);
      @include text-active($color_value);
    }
  }
}
