@use '../maps/grids' as *;
@use 'sass:map';

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-justify-all {
  text-align: justify-all !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

@each $size, $breakpoint in $grid-breakpoints {
  @if $breakpoint != 0 {
    @media (min-width: $breakpoint) {
      .#{$size}\:text-left {
        text-align: left !important;
      }

      .#{$size}\:text-center {
        text-align: center !important;
      }

      .#{$size}\:text-right {
        text-align: right !important;
      }

      .#{$size}\:text-justify {
        text-align: justify !important;
      }

      .#{$size}\:text-justify-all {
        text-align: justify-all !important;
      }

      .#{$size}\:text-nowrap {
        white-space: nowrap !important;
      }
    }
  }
}
