@use '../modules/global-vars' as *;

@mixin transition-default() {
  &-enter-active,
  &-leave-active {
    transition: 0.4s all $primary-transition;
  }

  &-move {
    transition: transform 0.4s;
  }
}

.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: 0.2s opacity $primary-transition;
  }
}

.scale-in {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  &-enter-active,
  &-leave-active {
    transition:
      0.2s opacity $primary-transition,
      transform 0.2s $primary-transition;
  }
}

.scale-in-out {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.9);
  }

  &-enter-active,
  &-leave-active {
    transition:
      0.15s opacity $primary-transition,
      transform 0.15s $primary-transition;
  }

  &-leave-active {
    transform: scale(1.1);
  }
}

.fade-in-down {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }

  &-enter-active,
  &-leave-active {
    transition:
      0.15s opacity $primary-transition,
      transform 0.15s $primary-transition;
  }

  &-leave-active {
    transform: translateY(15px);
  }
}

.fade-in-up {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }

  &-enter-active,
  &-leave-active {
    transition:
      0.15s opacity $primary-transition,
      transform 0.15s $primary-transition;
  }

  &-leave-active {
    transform: translateY(-15px);
  }
}

.slide-in-left {
  &-enter-from,
  &-leave-to {
    transform: translateX(-100%);
  }

  &-enter-active,
  &-leave-active {
    transition:
      0.2s opacity $primary-transition,
      transform 0.2s $primary-transition;
  }

  &-leave-active {
    transform: translateX(100%);
  }
}
