@use 'variables' as *;
@use '../../styles/mixins/functions' as *;

.c-list {
  --c-list-bg-color: #{$list-bg-color};
  --c-list-color: #{$list-color};
  --c-list-border-radius: #{$list-border-radius};
  --c-list-padding-block: #{$list-padding-block};
  --c-list-padding-inline: #{$list-padding-inline};
  --c-list-disabled-opacity: #{$list-disabled-opacity};

  padding: getCssVar('list', 'padding-block') getCssVar('list', 'padding-inline');
  border-radius: getCssVar('list', 'border-radius');
  background-color: getCssVar('list', 'bg-color');
  color: getCssVar('list', 'color');

  &--readonly {
    pointer-events: none;
  }

  &--disabled {
    opacity: getCssVar('list', 'disabled-opacity');
    pointer-events: none;
  }

  &:first-child {
  }
}
