@use 'variables' as *;
@use '../../styles/mixins/functions' as *;
@use '../../styles/tools/state-layer' as state;

$self: '.c-list-item';

.c-list-item {
  --c-list-item-min-height: #{$list-item-min-height};
  --c-list-item-padding-block: #{$list-item-padding-block};
  --c-list-item-padding-inline: #{$list-item-padding-inline};
  --c-list-item-gap: #{$list-item-gap};
  --c-list-item-border-radius: #{$list-item-border-radius};
  --c-list-item-color: #{$list-item-color};
  --c-list-item-bg-color: #{$list-item-bg-color};
  --c-list-item-selected-bg-color: #{$list-item-selected-bg-color};
  --c-list-item-selected-color: #{$list-item-selected-color};
  --c-list-item-disabled-opacity: #{$list-item-disabled-opacity};
  --c-list-item-disabled-color: #{$list-item-disabled-color};
  --c-list-item-state-layer-color: #{$list-item-state-layer-color};
  --c-list-item-hover-bg-color: #{$list-item-hover-bg-color};
  --c-list-item-focus-bg-color: #{$list-item-focus-bg-color};
  --c-list-item-pressed-bg-color: #{$list-item-pressed-bg-color};
  --c-list-item-focus-ring-color: #{$list-item-focus-ring-color};
  --c-list-item-dragged-opacity: #{$list-item-dragged-opacity};
  --c-list-item-title-font-size: #{$list-item-title-font-size};
  --c-list-item-title-line-height: #{$list-item-title-line-height};
  --c-list-item-title-font-weight: #{$list-item-title-font-weight};
  --c-list-item-subtitle-font-size: #{$list-item-subtitle-font-size};
  --c-list-item-subtitle-line-height: #{$list-item-subtitle-line-height};
  --c-list-item-subtitle-color: #{$list-item-subtitle-color};
  --c-list-item-subtitle-opacity: #{$list-item-subtitle-opacity};

  display: flex;
  justify-content: start;
  align-items: center;
  gap: getCssVar('list-item', 'gap');
  min-height: getCssVar('list-item', 'min-height');
  padding: getCssVar('list-item', 'padding-block') getCssVar('list-item', 'padding-inline');
  border-radius: getCssVar('list-item', 'border-radius');
  background: getCssVar('list-item', 'bg-color');
  cursor: pointer;
  position: relative;
  color: getCssVar('list-item', 'color');

  @include state.layer(getCssVar('list-item', 'state-layer-color'));

  &-content {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 36px;
    min-height: getCssVar('list-item', 'min-height');
    height: 100%;
  }

  &-title {
    font-size: getCssVar('list-item', 'title-font-size');
    font-weight: getCssVar('list-item', 'title-font-weight');
    line-height: getCssVar('list-item', 'title-line-height');
  }

  &-subtitle {
    color: getCssVar('list-item', 'subtitle-color');
    font-size: getCssVar('list-item', 'subtitle-font-size');
    line-height: getCssVar('list-item', 'subtitle-line-height');
    opacity: getCssVar('list-item', 'subtitle-opacity');
  }

  &--focused {
    outline: getCssVar('sys', 'border-width', 'thick') solid
      getCssVar('list-item', 'focus-ring-color');
    outline-offset: -1px;

    &::before {
      background: getCssVar('list-item', 'focus-bg-color');
      opacity: 1;
    }
  }

  &:hover {
    &::before {
      background: getCssVar('list-item', 'hover-bg-color');
      opacity: 1;
    }
  }

  &:active {
    &::before {
      background: getCssVar('list-item', 'pressed-bg-color');
      opacity: 1;
    }
  }

  &[draggable='true']:active {
    opacity: getCssVar('list-item', 'dragged-opacity');
  }

  &--disabled {
    cursor: default;
    color: getCssVar('list-item', 'disabled-color');
    opacity: getCssVar('list-item', 'disabled-opacity');
    pointer-events: none;
  }

  &--selected {
    color: getCssVar('list-item', 'selected-color');

    &::before {
      background-color: getCssVar('list-item', 'selected-bg-color');
      opacity: 0.2;
    }
  }
}
