@use '../../styles/mixins/functions' as *;

.c-app {
  display: flex;

  &__wrapper {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    background-color: getCssVar('app', 'background-color');
  }

  &--block-scroll {
    width: 100%;
    position: fixed;
    top: getCssVar('app', 'scroll-top');
    left: getCssVar('app', 'scroll-left');
    bottom: 0;
    pointer-events: none;
  }
}
