@use '../../styles/mixins/functions' as *;

.c-app {
  display: flex;

  &__wrapper {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    background-color: getCssVar('sys', 'color', 'background');
    color: getCssVar('sys', 'color', 'on-background');
    font-family: getCssVar('sys', 'typography', 'font-family', 'base');
    font-size: getCssVar('sys', 'typography', 'body-size');
    line-height: getCssVar('sys', 'typography', 'body-line-height');

    ::selection {
      background: getCssVar('sys', 'color', 'inverse-surface');
      color: getCssVar('sys', 'color', 'inverse-on-surface');
    }
  }

  &--lock-scroll {
    width: 100%;
    position: fixed;
    top: getCssVar('app', 'scroll-top');
    left: getCssVar('app', 'scroll-left');
    bottom: 0;
    pointer-events: none;
  }
}
