@use "sass:map";
@use "../maps/colors-map" as *;

$primary-transition: cubic-bezier(.25, .8, .5, 1);

:root {
  --c-app-primary-color: #{map.get($blue, "base")};
  --c-app-secondary-color: #{map.get($blue, "darken-2")};
  --c-app-success-color: #{map.get($green, "base")};
  --c-app-error-color: #ef231f;
  --c-app-warning-color: #f6892f;
  --c-app-info-color: #0b86cc;
  --c-app-accent-color: #30e40d;
  --c-app-surface-color: #ffffff;
  --c-app-disabled-color: #c8c8c8;
  --c-app-text-color: #3d3d3d;
  --c-app-border-radius: 8px;
  --c-app-border-color: #e5e5e5;
}
