$primary-transition: cubic-bezier(.25, .8, .5, 1);

:root {
  --global-border-radius: 8px;
  --global-error-color: #ef231f;
  --global-success-color: #43d31b;
  --global-primary-color: #1f77c4;
  --global-secondary-color: #39638c;
  --global-base-color: #ffffff;
  --global-text-color: #3d3d3d;

  --c-app-primary-color: #1f77c4;
  --c-app-secondary-color: #213e59;
  --c-app-success-color: #3eaf1e;
  --c-app-error-color: #ef231f;
  --c-app-warning-color: #f6892f;
  --c-app-info-color: #0b86cc;
  --c-app-accent-color: #30e40d;
  --c-app-surface-color: #ffffff;
  --c-app-disabled-color: #c8c8c8;
  --c-app-text-color: #3d3d3d;
  --c-app-border-radius: 8px;
}
