@use '../../styles/mixins/functions' as *;

$card-width: 100%;

.c-card {
  --c-card-width: #{$card-width};
  --c-card-header-padding: #{getCssVar('sys', 'space', '4')};
  --c-card-body-padding: #{getCssVar('sys', 'space', '4')};
  --c-card-footer-padding: #{getCssVar('sys', 'space', '4')};
  --c-card-border-radius: #{getCssVar('sys', 'shape', 'md')};
  --c-card-background-color: #{getCssVar('sys', 'color', 'surface')};
  --c-card-text-color: #{getCssVar('sys', 'color', 'on-surface')};

  width: getCssVar('card', 'width');
  border-radius: getCssVar('card', 'border-radius');
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: getCssVar('card', 'background-color');
  color: getCssVar('card', 'text-color');

  &-header {
    padding: getCssVar('card', 'header-padding');
    flex-grow: 0;
  }

  &-body {
    padding: getCssVar('card', 'body-padding');
  }

  &-footer {
    flex-grow: 0;
    padding: getCssVar('card', 'footer-padding');
  }
}
