$self: '.c-checkbox';

.c-checkbox {
  flex: 1 1;
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  outline: none;

  &--default, &--readonly, &--focused {
    & > #{$self}__label {
      color: var(--c-app-text-color)
    }
  }

  &--disabled {
    & > #{$self}__label {
      color: currentColor;
    }
  }

  &--focused {
    & > #{$self}__icon {
      &::before {
        opacity: .2;
      }
    }
  }

  &__icon {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: currentColor;
      border-radius: 8px;
      opacity: 0;
      transform: scale(.7);
    }
  }

  &__label {
    color: currentColor;
    margin-left: 8px;
    pointer-events: none;
  }

  &--error {
    color: var(--c-app-error-color);
    & > #{$self}__label {
      color: currentColor;
    }
  }

  & > input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }
}
