.c-autocomplete {
  flex: 1 1 auto;
  min-width: 0;
  cursor: text;
  max-height: 100%;
  position: relative;

  &__listbox {
    padding: 5px 0;
  }

  &-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    max-width: 100%;
  }

  & > .c-field > .c-field__append {
    transition: transform 0.1s linear;
  }

  & > .c-field--focused > .c-field__append {
    transform: rotate(180deg);
  }

  &__chip {
  }
}
