@use '../../styles/mixins/functions' as *;

.c-autocomplete {
  flex: 1 1 auto;
  min-width: 0;
  cursor: text;
  max-height: 100%;
  position: relative;

  &__listbox {
    padding: 5px 0;
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__core {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__append {
    transition: transform 0.1s linear;
  }

  & > .c-input__field > .c-text-field > .c-field--focused > .c-field__append {
    transform: rotate(180deg);
  }

  & > .c-input__field > .c-text-field > .c-field > .c-field__core > .c-field-input {
    flex: 1 1;
    min-width: 64px;
  }

  &
    > .c-input__field
    > .c-text-field
    > .c-field:not(.c-field--focused)
    > .c-field__core
    > .c-field-input {
    min-width: 0;
    position: absolute;
    z-index: -1;
  }

  &-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
