@use '../../styles/mixins/functions' as *;

.c-progress-linear {
  --c-progress-linear-color: #{getCssVar('sys', 'color', 'primary')};
  --c-progress-linear-track-color: #{getCssVar('sys', 'color', 'primary-container')};

  position: relative;
  width: 100%;
  background: transparent;
  overflow: hidden;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: getCssVar('progress-linear', 'track-color');
  }

  &__buffer {
    position: absolute;
    height: 100%;
    background-color: getCssVar('progress-linear', 'color');
    opacity: 0.3;
  }

  &__indeterminate {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__bar {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: getCssVar('progress-linear', 'color');
    transition: width 0.3s ease-in-out;

    &--long {
      animation: c-progress-linear-long 2s linear 0s infinite;
    }

    &--short {
      animation: c-progress-linear-short 2s linear 1s infinite;
    }
  }
}

@keyframes c-progress-linear-long {
  0% {
    right: 100%;
    width: 0%;
  }

  50% {
    right: -60%;
    width: 70%;
  }

  100% {
    right: -100%;
    width: 15%;
  }
}

@keyframes c-progress-linear-short {
  0% {
    right: 100%;
    left: -100%;
    width: 70%;
  }

  30% {
    right: -8%;
    left: 30%;
    width: 25%;
  }

  60% {
    right: -8%;
    left: 120%;
    width: 5%;
  }

  100% {
    right: -8%;
    left: 180%;
    width: 35%;
  }
}
