@use "sass:map";
@use "../../styles/maps/elevations-map" as *;

$self: '.c-menu';

.c-menu {
  --menu-bg-color: var(--c-app-surface-color);
  --menu-text-color: var(--c-app-text-color);
  --menu-border-radius: var(--c-app-border-radius);
  --menu-max-height: 300px;

  position: absolute;
  width: auto;
  background-color: var(--menu-bg-color);
  border-radius: var(--menu-border-radius);
  overflow: hidden;
  color: var(--menu-text-color);
  //max-height: var(--menu-max-height);
  box-shadow: map.get($shadow-key-umbra, 3), map.get($shadow-key-penumbra, 3), map.get($shadow-key-ambient, 3);

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;
    height: auto;
    max-height: inherit;
    max-width: inherit;
  }

  &--not-active {
    //pointer-events: none;
  }

  &--visible {
  }
}
