@use '../../styles/mixins/functions' as *;

$self: '.c-menu';

.c-menu {
  --c-menu-bg-color: #{getCssVar('sys', 'color', 'surface-container-high')};
  --c-menu-text-color: #{getCssVar('sys', 'color', 'on-surface')};
  --c-menu-border-radius: #{getCssVar('sys', 'shape', 'lg')};
  --c-menu-elevation: #{getCssVar('sys', 'elevation', '3')};
  --c-menu-max-height: 100%;

  position: absolute;
  width: auto;
  background-color: getCssVar('menu', 'bg-color');
  border-radius: getCssVar('menu', 'border-radius');
  overflow: hidden;
  color: getCssVar('menu', 'text-color');
  max-height: getCssVar('menu', 'max-height');
  outline: none;
  box-shadow: getCssVar('menu', 'elevation');

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;
    height: inherit;
    max-height: inherit;
    max-width: inherit;
  }

  &--not-active {
    //pointer-events: none;
  }

  &--visible {
  }
}
